<form id="frmPreguntasSearch"  action="/quizes" method="GET">
	<p>
		<b>Pregunta:</b>
		<input type="text" id="search" name="search" value="" placeholder="Texto a buscar..."  class="btn" />
		<button type="submit" class="btn btn-2 btn-icon"><i class="fa fa-search"></i></button>
	</p>
</form>
<hr class="hr-dotted">
<% if(quizes.length === 0){ %>
	<p>No hay coincidencias</p>
	<a href="/quizes"><button type="button" class="btn">Volver a preguntas</button></a>
<% }else{ %>
<table style="margin: 0 auto;">
<% var i; for ( i=0 ; i < quizes.length ; i++){ %>
	<tr>
		<td style="  text-align: right;">
			<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a> (<%= quizes[i].tema %>)
		</td>
		<td style="padding-left: 1rem;">
			<form id="frmDeletePreguntas" action="/quizes/<%= quizes[i].id %>?_method=delete" method="POST">
				<a href="/quizes/<%= quizes[i].id %>/edit" title="Editar: <%= quizes[i].pregunta %>"><button type="button" class="btn btn-icon"><i class="fa fa-pencil"></i></button></a>
				<button type="submit" class="btn btn-icon" onclick="return confirm('Se eliminara: <%= quizes[i].pregunta %>')" title="Borrar: <%= quizes[i].pregunta %>"><i class="fa fa-trash"></i></button>
			</form>
		</td>
	</tr>
<% } %>
	<tr>
		<td style="text-align: right;"></td>
		<td style="padding-left: 1rem;">
			<a href="/quizes/new" title="Crear nueva pregunta"><button type="button" class="btn btn-green"><i class="fa fa-plus"></i> Pregunta</button></a>
		</td>
	</tr>
</table>
<% } %>

